html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
body > div {
  height: 100%;
  width: 100%;
}
div#demo {
  width: 1000px;
  height: 600px;
  border: 1px dotted red;
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
